<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ if .Title }}{{ .Title }}{{ else }}{{ site.Title }}{{ end }}</title>

  <!-- Fonts (главная) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- CSS (главная) -->
  <link rel="stylesheet" href="/css/personal.css">
</head>

<body>
  {{ block "main" . }}{{ end }}

  <!-- ===== Floating WhatsApp CTA ===== -->
  <a class="whatsapp-cta"
   href="https://wa.me/971558869299?text=Hello%2C%20I%20am%20interested%20in%20real%20estate.%20Please%20contact%20me."
   target="_blank"
   rel="noopener">
  <img src="/images/whatsapp-cta.png" alt="WhatsApp">
</a>
  <!-- ===== End Floating WhatsApp CTA ===== -->

</body>
</html>
